html body {
  background-color: #1C1C1C;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.movie-app{
  background-color: #1C1C1C;
}


#searchInput{
  color: #E66A3B;
  border: solid 1px #E66A3B;
  background-color: #1C1C1C;
  border-radius: 15px;
  height: 5%;
  width: 30vw;
  padding-left: 15px;
  margin-right: 10%;
}

/* .hoverCard{
  position: absolute;
  color: white;
}

.hoverCard:hover{
  position: absolute;
  width: 192px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
} */

.imgs-wrap{
  position: relative;
}

.imgs{
  height: 300px;
  width: auto;
  max-width: 200px;
  
}

.imgsDescription {
  position: absolute;
  top: 0;
  bottom: -18px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.imgs-wrap:hover .imgsDescription{
  visibility: visible;
  opacity: 1;
}

.movie-app > .myRow{
  flex-wrap: nowrap;
}

#searchInput:focus{
  outline: none;
  border-bottom: none;
}

::placeholder {
  color: #E66A3B;
  opacity: 0.7; 
}

#searchIcon{
  width: 30px;
  height: 30px;
  margin-left: 25vw;
  margin-right: 5px;
}

#navBtn{
  color:#E66A3B;
  margin-right: 10px;
  margin-left : 10px;
}

#logBtn{
  color: #E66A3B;
  border: 1px solid #E66A3B;
  border-radius: 20px;
  margin-right: 0px;
  width: 180px;
  margin-left: auto;
}

.myRow{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;


}

.category{
  color: white;
  
}



*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1C1C1C;
}

*::-webkit-scrollbar-thumb {
  background-color: #1C1C1C;
  border-radius: 10px;
  border: 2px solid #E66A3B;
  
}

.btnY{
  margin-right: 75px;
  margin-top: 15px;
  margin-left: 15px;
}

.btnP{
  position: absolute;
  top: 260px;
  left: 150px;

}

.movieText{
  margin-top: 130px;
  margin-left: 10px;
}

.errorBox{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#error{
  color:#fff;
}

.registerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register{
  color:white;
  margin-top: 150px;
}

#register1{
  color:white;
  margin-top: 150px;
}



.Input{
  color: #E66A3B;
  border: solid 1px #E66A3B;
  background-color: #1C1C1C;
  border-radius: 15px;
  width: 25%;
  margin-bottom: 10px;
  padding-left: 25px;
 
}

.cineBtn{
  background-color: #E66A3B;
  color:white;
  border-radius: 15px;
  border: none;
  width: 25%;

}