/* html {
  background-color: #1C1C1C;
}

.CineHome{
  background-color: #1C1C1C;
  height: 100vh;
} */

#searchInput{
  color: #E66A3B;
  border: solid 1px #E66A3B;
  background-color: #1C1C1C;
  border-radius: 15px;
  height: 5%;
  width: 30vw;
  padding-left: 15px;
  margin-right: 10%;
}

#searchInput:focus{
  outline: none;
  border-bottom: none;
}

::placeholder {
  color: #E66A3B;
  opacity: 0.7; /* Firefox */
}

#searchIcon{
  width: 30px;
  height: 30px;
  margin-left: 25vw;
  margin-right: 5px;
}

#navBtn{
  color:#E66A3B;
  margin-right: 20px;
}

#logBtn{
  color: #E66A3B;
  border: 1px solid #E66A3B;
  border-radius: 20px;
  margin-right: 0px;
  margin-left: auto;
}
